body    {
   background-color:black
}

h1  {
    text-transform:  uppercase;
}

.Box    {
   width:50%
   margin-left:25%;
   margin-top:50px;
   color:white;
   text-align:center;
   font-family: "Libre Baskerville", serif;
}
.car   {
    border:solid 5px white;
    width:50%;
}

p   {
    font-size:24px;
}
